@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200&family=Secular+One&display=swap');

.header {
  padding: 16px 0;
  text-align: center;
  color: darkslategrey;
  font-family: 'Secular One', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 150%;
  text-align: center;
  color: #318d8b;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Saira', sans-serif;
}

input {
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  margin: 4px;
  height: 26px;
  width: 104px;
  font-family: 'Saira', sans-serif;
}

input[type=submit] {
  border-radius: 10px;
  border: 1px solid rgb(170, 170, 170);
  width: 80px;
  cursor: pointer;
  transition: 200ms;
  border: none;
  background-color: #3d7478;
  color: white;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  margin: 4px;
  font-family: 'Saira', sans-serif;
}
input[type=submit]:hover {
  background-color: #27625b;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
